.default {
  font-family: 'Noto Sans JP', sans-serif;
  color: #3f3f3f;
  margin: auto;
  font-size: 1rem;
  box-shadow: 0px 1px 5px rgb(210, 210, 210);
  border: none;
  border-radius: 6px;
}

.default:hover {
  border: none;
  background-color: rgb(152, 150, 150);
}

.default:focus {
  background-color: rgb(174, 173, 173);
  border: none;
  outline: none;
}

.outline {
  color: blue;
  border: 1px solid blue;
}

.outline:hover {
  border: 1px solid blue;
  background-color: rgb(203, 203, 255);
}
.outline:focus {
  border: 1px solid blue;
  background-color: rgb(203, 203, 255);
}

.text {
  background-color: transparent;
  box-shadow: initial;
  color: blue;
}

.text:hover {
  background-color: rgb(203, 203, 255);
}

.text:focus {
  background-color: rgb(203, 203, 255);
}

.sm {
  padding: 0.3rem 0.7rem;
}

.md {
  padding: 0.5rem 1rem;
}

.lg {
  padding: 0.8rem 1.3rem;
}
.primary,
.secundary,
.danger {
  color: white;
}
.primary {
  background-color: #2962ff;
}
.primary:hover,
.primary:focus {
  background-color: #0039cb;
}
.secundary {
  background-color: #455a64;
}
.secundary:hover,
.secundary:focus {
  background-color: #1c313a;
}
.danger {
  background-color: #d32f2f;
}
.danger:hover,
.danger:focus {
  background-color: #9a0007;
}

.disabled {
  box-shadow: unset;
  background-color: #e0e0e0;
  color: #9e9e9e;
}
