body {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
}
.btnGroup {
  display: flex;
  gap: 2rem;
}
.btnsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
